$blue: #2B63C0;



.login_main_container {
    //margin-top: 20px;
    //padding: 40px;
    .login_form_container {
        background-color: #ffffff;
        padding: 0;
        //margin-bottom: 0!important;
    }
    .client_availbale_key {
        padding-bottom: 20px;
        padding-top: 15px;
    }
}





.login_btn{
    background: $blue;
    text-align: center;
    color: #FFFFFF;
    height: 48px;
}
.login_link{
    textAlign: left;
    cursor: pointer;
    color:$blue;
    text-decoration: underline;
}
