.dyna-grid-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.dyna-grid-main-container {
    th.ant-table-cell {
        text-align: center !important;
        font-size: 10px;
        div.ant-table-filter-column {
            span.ant-table-filter-column-title {}
        }
    }
    td.ant-table-cell {
        font-size: 10px;
        text-align: center !important;
    }
    &.akhadjon-dyna-grid-full-view {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        background-color: #ffffff;
        overflow: auto !important;
    }
}

table {
    margin: 0 !important;
}

.ant-table-tbody>tr>td,
.ant-table tfoot>tr>td {
    padding: 5px 10px !important;
}
.ant-table-thead > tr > th{
    background-color: #ffffff;
}
.ant-table-thead > tr {
    border-radius: 11px !important;
}
.ant-table-tbody > tr > td, .ant-table tfoot > tr > td{
    text-align: center;
}

.dyna-grid-doc-filter-area{
    border-radius: 8px;
    background-color: #ffffff;
    .sub-filter-area{
        padding: 15px 0 0 15px;
        margin-bottom: 15px;
    }
}
.table-attached-tab{
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    padding: 12px 24px;
    height: auto;
    vertical-align: middle;
    margin: auto 0;
    cursor: pointer;
    box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.04);
    &.att-active{
        border-bottom: #2B63C0 2px solid;
        background-color: #ffffff;
    }
    &.first-item{
        border-top-left-radius: 8px;
    }
    &.last-item{
        border-top-right-radius: 8px;
    }
}