.factura-data-sheet-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 30px;
    &.grid-full-view {
        position: fixed;
        top: 0;
        width: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        overflow-y: auto;
        height: 100vh;
    }
}

.factra-action-btns {
    width: 200px;
    height: 60px !important;
    font-weight: bold;
    &.sing-btn {
        border-color: #47bf33 !important;
        color: #47bf33;
         :hover {
            border-color: lighten($color: #47bf33, $amount: 0);
            color: lighten($color: #47bf33, $amount: 0);
        }
    }
    &.save-btn {
        border-color: #096dd9;
        color: #1890ff;
    }
}

.factura-action-btn-icons {
    margin-right: 10px;
    font-size: 20px;
}

.factur-settins-menu{
    position: fixed;
    z-index: 999;
    right: 0;
    top: 50vh;
    display: flex;
    
    .floating-drafts-list{
        z-index: 99;
        border: #999 solid 1px;
        background-color: white;
        margin-right: 10px;
        padding: 10px;
        transition: all ease-in-out .3s;
        border-radius: 3px;

        &.active{
            transform: translateX(0);
            display: block;
        }
        &.dis-active{
            transform: translateX(300%);
            
        }
    }
    button.load-last-draft-btn{
        z-index: 999;
        padding: 5px 16px;
        border-bottom-left-radius: 20%;
        border-top-left-radius: 20%;
        outline: none;
    }
}
