.factura-data-sheet-container {
    background-color: #ffffff;
    padding: 24px !important;
    border-radius: 11px;
    margin-bottom: 30px;
    &.grid-full-view {
        position: fixed;
        top: 0;
        width: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        overflow-y: auto;
        height: 100vh;
    }
}

.factra-action-btns {
    font-weight: 400;
    &.sing-btn {
        border-color: #47bf33 !important;
        color: #47bf33;
         :hover {
            border-color: lighten($color: #47bf33, $amount: 0);
            color: lighten($color: #47bf33, $amount: 0);
        }
    }
    &.save-btn {
        background-color: #2B63C0;
        color: #ffffff !important;
    }
}



.factur-settins-menu{
    position: fixed;
    z-index: 999;
    right: 0;
    top: 50vh;
    display: flex;
    
    .floating-drafts-list{
        z-index: 99;
        border: #999 solid 1px;
        background-color: white;
        margin-right: 10px;
        padding: 10px;
        transition: all ease-in-out .3s;
        border-radius: 3px;

        &.active{
            transform: translateX(0);
            display: block;
        }
        &.dis-active{
            transform: translateX(300%);
            
        }
    }
    button.load-last-draft-btn{
        z-index: 999;
        padding: 5px 16px;
        border-bottom-left-radius: 20%;
        border-top-left-radius: 20%;
        outline: none;
    }
}


.custom-ant-primary-btn{
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    height: 48px;
    padding: 12px 24px;
    
    &.save-btn{
        background-color: #2B63C0;
    }

    &.sign-btn{
        background-color: #0FBE7B;
    }
    &.cancel-btn{
        background-color: #FE346E;
    }

    .factura-action-btn-icons {
    margin-right: 10px;
    font-size: 18px !important;
}
}