.login-main-container {
    margin-top: 20px;
    padding: 40px;
    .login-form-containrer {
        background-color: #ffffff;
        padding: 40px;
    }
    .client-availbale-key {
        padding: 10px 0px;
    }
}