.product-add-button{
    background-color: #2B63C0;
    width: 99px;
    height: 36px;
    border-radius: 8px;
}
// .ant-select-selector{
//     border-radius: 8px !important;
//     min-height: 48px !important;
// }