.factura-home-page-container {
    //background-color: #ffffff;
    border-radius: 11px;
    min-height: 400px;
    margin: 32px;
    .factura-home-sub-con {
        //padding: 25px 0px 20px 25px;
        .factura-home-title {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            transition: all .1s ease 100ms;
            span {
                padding: 8px 15px;
                background-color: #f3f7f8;
                color: #0075ff;
                border-top-left-radius: 11px;
                border-bottom-left-radius: 11px;
                font-weight: bold;
                font-size: 13px;
                letter-spacing: .8px;
                &:hover {
                    color: #ffffff;
                    background-color: #0075ff;
                }
            }
        }
        
    }
}