.header-main-component-container-main {
    box-shadow: darken( #000000, 50%);
    background-color: #ffffff;
    -webkit-box-shadow: 1px 3px 37px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 37px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 3px 37px -23px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 99;
    .header-main-component-container {
        padding: 15px 40px;
        .header-main-conatainer {
            display: flex;
            justify-content: space-between;
            .logo-on-doc-img {
                height: 40px;
            }
            .burger-main {
                color: #439CF3;
            }
        }
    }
}