.factura-data-sheet-container {
    padding: 24px 24px 40px 24px!important;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    border-radius: 12px;
    //margin-bottom: 30px;
    &.grid-full-view {
        position: fixed;
        top: 0;
        width: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        overflow-y: auto;
        height: 100vh;
    }
}

.factra-action-btns {
    width: 200px;
    height: 60px !important;
    font-weight: bold;
    &.sing-btn {
        border-color: #47bf33 !important;
        color: #47bf33;
         :hover {
            border-color: lighten($color: #47bf33, $amount: 0);
            color: lighten($color: #47bf33, $amount: 0);
        }
    }
    &.save-btn {
        border-color: #096dd9;
        color: #1890ff;
    }
}

.factura-action-btn-icons {
    margin-right: 10px;
    font-size: 20px;
}