.cabinet-header-main-con{
    background-color: #fff;
    .ch-sub-container{
        padding: 14px 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ch-user-info-con-1{

        }
        .ch-user-info-con-2{

            display: flex;
            align-items: center;
            .ch-action-container{
                display: flex;
                margin-left: 45px;
                .wallet-img{
                    width: 43px;
                    height: 43px;
                    padding: 8px;
                    border-radius: 7px;
                    margin: 5px;
                    background-color: rgba(24, 144, 255, 0.1);

                }
            }
        }
    }
}
.ant-layout-header{
    padding:0;
    line-height: 20px;
}