.cabinet-home-main-container {
    min-height: 400px;
    //background-color: #ffffff;
    margin: 2px;
    border-radius: 11px;
    .cabinet-home-sub-container {
        padding: 30px 30px 5px 30px;
    }
}