$sidebarColor:#0C2556;
.cabiner-right-sidebar-cmain-container {
    height: 100vh !important;
    //height: 80vh !important;
    margin-left: -30px;
    position: sticky;
    //margin-left: 0;
    //background: inherit;
    background: $sidebarColor;
    left: 0;
    top: 0;
    z-index: 99;
    .cabiner-right-sidebar-sub-container {
        padding: 18px 5px 40px 30px;
        .cabinet-documents-action-containers-bloks {
            display: flex;
            //margin-top: 50px;
            height: 300px;
            flex-direction: column;
            justify-content: space-between;
            //justify-content: ;
            .line{
                //color:red!important;
                border-left-style: none;
                border-right-style: none;
                border-bottom-style: none;
                border-top-color: rgba(200, 194, 194, 0.34) !important;
                height: 20px;
            }
            .action-bloks {
                color: #FFFFFF;
                padding: 10px;
                font-weight: 500;
                transition: all ease-in-out 0.1s 0.1s;
                &.active {
                    background: rgba(255, 255, 255, 0.1);
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    // margin-bottom: 5px;
                    position: relative;
                    color: #FFFFFF;
                    //border-left: #1890ff 3px solid;
                    &::after {
                        content: '';
                        background-color: #FFFFFF;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 6px;
                        height: 100%;
                        transition: all ease-in-out 0.1s 0.1s;
                    }
                }
                .action-icon {
                    margin-right: 7px;
                }
            }
        }
    }
}