$sidebarColor:#0C2556;
.cabiner-right-sidebar-cmain-container {
    height: 100vh !important;
    //height: 80vh !important;
    //margin-left: -26px;
    position: sticky;
    margin: 0px !important;
    //margin-left: 0;
    //background: inherit;
    background: $sidebarColor;
    left: 0;
    top: 0;
    z-index: 99;
    .cabiner-right-sidebar-sub-container {
        padding: 0px 0px 40px 0px;
        .cabinet-documents-action-containers-bloks {
            display: flex;
            //margin-top: 50px;
            //height: 300px;
            flex-direction: column;
            justify-content: space-between;
            //justify-content: ;
            .line{
                //color:red!important;
                border-left-style: none;
                border-right-style: none;
                border-bottom-style: none;
                border-top-color: rgba(200, 194, 194, 0.34) !important;
                //height: 20px;
                //width: 111%;
                //margin-left: -30px;
            }
            @media (min-width: 1950px){
                &{
                    border-left-style: none;
                    border-right-style: none;
                    border-bottom-style: none;
                    border-top-color: rgba(200, 194, 194, 0.34) !important;
                    //height: 20px;
                    //width: 90%;
                    //margin-left: -30px;
                }
            }
            .action-bloks {
                color: #FFFFFF;
                padding: 14px 0px 14px 29px;//12 edi 14 qildim
                //padding-left: 29px;
                height: 48px;
                //width: 116%;
                font-weight: 500;
                transition: all ease-in-out 0.0001s 0.0001s;
                &:hover{
                    background: rgba(255, 255, 255, 0.1);
                }
                //margin-left: -25px;
                //@media (min-width: 1024px) {
                //    &{
                //        color: #FFFFFF;
                //        padding: 7px;
                //        height: 38px;
                //        //font-weight: 500;
                //        transition: all ease-in-out 0.0001s 0.0001s;
                //    }
                //}
                //@media (min-width: 1200px) {
                //    &{
                //        color: #FFFFFF;
                //        padding: 8px;
                //        height: 43px;
                //        font-weight: 500;
                //        transition: all ease-in-out 0.0001s 0.0001s;
                //    }
                //}
                //@media (min-width: 1367px) {
                //    &{
                //        color: #FFFFFF;
                //        padding: 12px;
                //        height: 50px;
                //        font-weight: 500;
                //        transition: all ease-in-out 0.0001s 0.0001s;
                //    }
                //}
                //@media (min-width: 1650px) {
                //    &{
                //        color: #FFFFFF;
                //        padding: 14px;
                //        height: 63px;
                //        font-weight: 500;
                //        transition: all ease-in-out 0.0001s 0.0001s;
                //    }
                //}
                //@media (min-width: 1850px) {
                //    &{
                //        color: #FFFFFF;
                //        padding: 16px;
                //        height: 75px;
                //        font-weight: 500;
                //        transition: all ease-in-out 0.0001s 0.0001s;
                //    }
                //}
                //@media (min-width: 2050px) {
                //    &{
                //        color: #FFFFFF;
                //        padding: 20px;
                //        height: 90px;
                //        font-weight: 500;
                //        transition: all ease-in-out 0.0001s 0.0001s;
                //    }
                //}
                //@media (min-width: 2300px) {
                //    &{
                //        color: #FFFFFF;
                //        padding: 30px;
                //        height: 105px;
                //        font-weight: 500;
                //        transition: all ease-in-out 0.0001s 0.0001s;
                //    }
                //}
                //@media (min-width: 2530px) {
                //    &{
                //        color: #FFFFFF;
                //        padding: 50px;
                //        height: 110px;
                //        font-weight: 600;
                //        transition: all ease-in-out 0.0001s 0.0001s;
                //    }
                //}
                &.active {
                    background: rgba(255, 255, 255, 0.1);
                    // margin-right: -4px;
                    //margin-left: -25px;
                    //padding-left: 30px;
                    position: relative;
                    color: #FFFFFF;
                    width: 110%!important;
                    //border-left: #1890ff 3px solid;
                    &::after {
                        content: '';
                        background-color: #FFFFFF;
                        position: absolute;
                        left: 0px;
                        top: 0;
                        width: 4px;
                        height: 100%;
                        transition: line-height linear 0.1s 0.1s;
                    }
                }
                .action-icon {
                    margin-right: 7px;
                }
            }
        }
    }
}
.ant-menu-sub{
    background: #FFFFFF!important;
    border: 0.5px solid rgba(0, 0, 0, 0.04)!important;
    box-sizing: border-box!important;
    border-radius: 8px!important;
}
.ant-menu-item{
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.04)!important;
    padding: 8px 70px 19px 16px!important;
    width: 254px!important;
    height: 56px!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}


.ant-menu-sub{
    border-radius: 0px !important;
}

.ant-menu-vertical{
    margin-left: -2px !important;
}
// @media (min-width: 1996px){
//     .one_side{
//         width: 103%!important;
//     }
// }
// @media (min-width: 2200px){
//     .one_side{
//         width: 102%!important;
//     }
// }
// @media (min-width: 2500px){
//     .one_side{
//         width: 104%!important;
//     }
// }
// @media (min-width: 2750px){
//     .one_side{
//         width: 108%!important;
//     }
// }

.bottom1{
    height: 48px;
    position: absolute;
    width: 100%;
    bottom: 48px;
    list-style-type: none;
    outline: none;
    //padding-bottom:5.5em;
}
.bottom2{
    height: 48px;
    position: absolute;
    outline: none;
    width: 100%;
    bottom: 0;
    list-style-type: none;
    //padding-bottom:5em;
}
.side_icon{
    margin-right: 14px;
    //height: 18px;
    //width: 20px;
}
.side_icon_updown{
    //margin-right: 14px;
    height: 19px;
    margin-right: 17px;
    //width: 20px;
}

.menu_item{
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}
.consultant{

    width: 66%;
    height: 80%;
    cursor: pointer ;

    //left: 12px;
    color:#FFFFFF;
    border:none!important;
    background: #0FBE7B;
    box-shadow: 0 4px 10px rgba(15, 190, 123, 0.4);
    border-radius: 8px;
    //outline: none;
}
.act{
    background: rgba(191, 182, 182, 0.18) !important;
    width: 131%;
    //margin-right: -15px;
    margin-left: -69px;
    //right: -20px;
    padding-left: 44px;
    position: relative;
    color: #FFFFFF;
}


.before_act{
    background: #0c2556;
    width: 100%;
    height:48px;
    color:#fff;
    &:hover{
        background: rgba(255, 255, 255, 0.1);
    }
    //margin-left: -25px;
}
.bottom1{
    height: 48px;
    position: absolute;
    width: 100%;
    bottom: 48px;
}
.bottom2{
    height: 48px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.side_icon{
    margin-right: 14px;
    height:18px;
    width: 18px;
}

.side_icon_updown{
    //margin-right: 14px;
    height: 20px;
    margin-right: 17px;
    //width: 20px;
}
//@media only screen and (min-width: 1024px) {
//    .side_icon{
//        margin-right: 12px;
//        height: 17px;
//        width: 16px;
//    }
//    .side_icon_updown{
//        //margin-right: 14px;
//        height: 19px;
//        margin-right: 17px;
//        //width: 20px;
//    }
//    .bottom1{
//        height: 40px;
//        position: absolute;
//        width: 100%;
//        bottom: 48px;
//        margin-left:4%;
//    }
//    .bottom2{
//        height: 40px;
//        position: absolute;
//        width: 100%;
//        bottom: 0;
//    }
//}
//@media only screen and (min-width: 1367px) {
//    .side_icon{
//        margin-right: 14px;
//        height: 23px;
//        width: 23px;
//    }
//    .side_icon_updown{
//        //margin-right: 14px;
//        height: 23px;
//        margin-right: 20px;
//        //width: 20px;
//    }
//    .bottom1{
//        height: 62px;
//        position: absolute;
//        width: 100%;
//        bottom: 48px;
//        margin-left:4%;
//    }
//    .bottom2{
//        height: 62px;
//        position: absolute;
//        width: 100%;
//        bottom: 0;
//    }
//}
//@media only screen and (min-width: 1650px) {
//    .bottom1{
//        height: 80px;
//        position: absolute;
//        width: 100%;
//        bottom: 48px;
//        margin-left:4%;
//        margin-bottom: 10px;
//    }
//    .bottom2{
//        height: 80px;
//        position: absolute;
//        width: 100%;
//        bottom: 0;
//    }
//}
