body {
    background-color: #f3f7f8!important;
}


/* a {
    color: #3a3939;
} */


/* Ant design customization */

.ant-input-lg,
.ant-picker-large,
.ant-select-lg {
    border: 1px solid #dadce0 !important;
    border-radius: 11px !important;
    height: 55px;
    min-width: 200px;
}

.ant-form-item-explain {
    /* position: absolute;/ */
    transition: none !important;
}

.ant-form-item-explain.ant-form-item-explain-error {
    font-size: 12px;
    position: absolute !important;
    top: 53px;
    left: 10px;
    transition: none !important;
}

.ant-form-item {
    margin-bottom: 12px !important;
}

.ant-btn-lg {
    height: 45px !important;
    border-radius: 11px !important;
}

.ant-select-selection-item {
    margin-top: 5px;
}

span.custom-input-label-1 {
    font-size: 12px;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 99 !important;
    position: absolute;
    bottom: 57px;
    left: 15px;
}