.block{
  width: 30%;
  //max-height: 198px;
  margin-left: 32px!important;
  margin-bottom: 16px;
  padding: 24px 16px 19px 16px!important;//qayta  korib chiqaman
  height: auto;//240 qip quyaman
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  border-radius: 8px;
  .name{
    //height: 23px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #303030;
  }
  .bonus{
    //width: 173px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #303030;
  }
  .icons{
    width: 30px;
    height: 30px;
    margin: 4px 0;
  }
  .count_and_time{
    margin-top: 5px;
    margin-bottom: 0;
    height: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
  }
  .count_and_time_values{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
  }
  @media (max-width: 1295px) {
    .count_and_time{
      margin-top: 5px;
      margin-bottom: 0;
      height: 24px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: #303030;
    }
    .name{
      margin-bottom: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      align-items: center;
      letter-spacing: 0.02em;
      color: #303030;
    }
  }
  .more_btn{
    align-items: center;
    width: 110px;
    height: 30px;
    background: #2B63C0;
    border-radius: 8px;
    margin-top: 14px;
      p{
      margin-top: -2px;
      font-size: 12px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }
}
//-------------------CURRENT TARIFF------------------
.main_block{
  width: 95%;
  display: flex;
  margin-left: 32px!important;
  margin-bottom: 16px;
  //padding: 24px 24px 40px 24px!important;
  padding-top: 32px!important;
  padding-left: 24px!important;
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  border-radius: 8px;
  .name{
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #303030;
  }
  .main_title{
    font-style: normal;
    font-weight: bold;
    height: 12%;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #303030;
  }
  .icons{
    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-top: 12px;
  }
  .count_and_time{
    margin-top: 5px;
    margin-bottom: 0;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
  }
  .count_and_time_values{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    margin-bottom: 22px;
  }
  .activating_btn{
    width: 205px;
    height: 48px;
    align-items: center;
    background: #2B63C0;
    border-radius: 8px;
    margin-top: 22px;
    p{
      margin-top: 6px;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }
}


.modall{
  width: 444px!important;
  height: 206px;
  .main_title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #303030;
  }
  .icons{
    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-top: 12px;
  }
  .count_and_time{
    margin-top: 5px;
    margin-bottom: 0;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
  }
  .count_and_time_values{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    margin-bottom: 22px;
  }
  .activating_btn{
    width: 100%;
    height: 48px;
    align-items: center;
    background: #2B63C0;
    border-radius: 8px;
    margin-top: 22px;
    p{
      margin-top: 6px;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }

}

